{% extends 'partials/base.html.twig' %}

{% set slug = uri.basename %}
{% set base_route = location %}

{% block titlebar %}
    <div class="button-bar">
        <a class="button" href="{{ base_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
        <button class="button" type="submit" name="task" value="importLicenses" form="blueprints"><i class="fa fa-upload"></i> {{ "PLUGIN_LICENSE_MANAGER.IMPORT"|tu }}</button>
        <button class="button" type="submit" name="task" value="exportLicenses" form="blueprints"><i class="fa fa-download"></i> {{ "PLUGIN_LICENSE_MANAGER.EXPORT"|tu }}</button>
        <button class="button" type="submit" name="task" value="saveLicenses" form="blueprints"><i class="fa fa-check"></i> {{ "PLUGIN_ADMIN.SAVE"|tu }}</button>
    </div>
    <h1><i class="fa fa-fw fa-key"></i> {{ "PLUGIN_LICENSE_MANAGER.TITLE"|tu }}</h1>
{% endblock %}

{% block content %}
    {% include 'partials/blueprints.html.twig' with { data: license_data, blueprints: license_data.blueprints.init() } %}

    <h1>{{ "PLUGIN_LICENSE_MANAGER.IMPORT_TITLE"|tu }}</h1>

    <form action="{{ base_url_relative }}/license-manager/task:importLicenses" method="post" enctype="multipart/form-data">
        <div class="form-section">
            <div class="form-field grid">
                <input type="file" class="medium" name="uploaded_file" id="uploaded_file" required accept="application/x-yaml, text/yaml">
                <input type="submit" value="{{ "PLUGIN_LICENSE_MANAGER.IMPORT"|tu }}" name="submit" class="button">
                <input type="hidden" name="task" value="importLicenses" />

                {{ nonce_field('admin-form', 'admin-nonce')|raw }}
            </div>
        </div>

    </form>

    <h1>Install State Test</h1>

    <ul>
        {% set plugins = admin.plugins(false) %}
        {% set themes = admin.themes(false) %}

        {% for slug, license in license_data.toArray.licenses %}
            {% set isTheme = attribute(themes, slug) %}
            {% set isPlugin = attribute(plugins, slug) %}
            {% set label = isTheme ? 'theme' : 'plugin' %}

            {% set data = admin.data((isTheme ? 'themes/' : 'plugins/') ~ slug) %}

            <li>
                {% if data.get('enabled') %}
                    <span><i class="fa fa-check"></i> {{ label|ucwords }} {{ slug }} is installed</span>
                {% elseif isPlugin %}
                    <a href="#" data-remodal-target="add-package" data-packages-slugs="{{ slug }}" data-plugin-action="start-package-installation"><i class="fa fa-plus"></i> {{ "PLUGIN_ADMIN.INSTALL"|tu }} {{ slug }} {{ label }}</a>
                {% elseif isTheme %}
                    <a href="#" data-remodal-target="add-package" data-packages-slugs="{{ slug }}" data-theme-action="start-package-installation"><i class="fa fa-plus"></i> {{ "PLUGIN_ADMIN.INSTALL"|tu }} {{ slug }} {{ label }}</a>
                {% else %}
                    <span><i class="fa fa-warning"></i> {{ slug }} not found in GPM or GPM is out-of-date.</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% include 'partials/modal-changes-detected.html.twig' %}
  {% include 'partials/modal-add-package.html.twig' with { type: 'theme' } %}
  {% include 'partials/modal-add-package.html.twig' with { type: 'plugin' } %}
{% endblock %}
